# Ignore FEnicCS output
*.pvd
*.vtu
*.pvtu

# Ignore macOS helper files
*.DS_STORE

# ignore VSCode's helper files
*.vscode
*.ipynb_checkpoints

# ignore mesh and output data
*.xml
*.msh
*.h5
*.xdmf

# ignore python cache
*__pycache__*

# ignore errors from convergence study
*errors.csv

# ignore covergae internal files and output
*.coverage
*htmlcov

# ignore Sphinx documentation output
*_build

# ignore system matrices
*A_*.txt